#nomad-backdrop {
  display: none;
  position: fixed;
  background: rgba(0, 0, 0, 0.75);
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  pointer-events: none;
}

#nomad-backdrop.visible {
  display: block;
}

.blue-btn {
  -webkit-box-shadow: inset 0px -3px 7px 0px #29bbff;
          box-shadow: inset 0px -3px 7px 0px #29bbff;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #2dabf9), to(#0688fa));
  background: -webkit-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
  background: -o-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
  background: linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
  background-color: #2dabf9;
  border-radius: 3px;
  border: 1px solid #0b0e07;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: inherit;
  font-size: 15px;
  padding: 9px 23px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #263666;
}

.blue-btn:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #0688fa), to(#2dabf9));
  background: -webkit-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
  background: -o-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
  background: linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
  background-color: #0688fa;
}

.blue-btn:active {
  position: relative;
  top: 1px;
}

.orange-btn {
  -webkit-box-shadow: inset 0px 1px 0px 0px #fff6af;
          box-shadow: inset 0px 1px 0px 0px #fff6af;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #ffec64), to(#ffab23));
  background: -webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%);
  background: -o-linear-gradient(top, #ffec64 5%, #ffab23 100%);
  background: linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
  background-color: #ffec64;
  border-radius: 6px;
  border: 1px solid #ffaa22;
  display: inline-block;
  cursor: pointer;
  color: #333333;
  font-family: inherit;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffee66;
}

.orange-btn:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #ffab23), to(#ffec64));
  background: -webkit-linear-gradient(top, #ffab23 5%, #ffec64 100%);
  background: -o-linear-gradient(top, #ffab23 5%, #ffec64 100%);
  background: linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
  background-color: #ffab23;
}

.orange-btn:active {
  position: relative;
  top: 1px;
}

.rainbow {
  background-color: #343a40;
  color: #fff;
  cursor: pointer;
  padding: 8px 16px;
  background-image: -webkit-gradient(linear, left top, right top, from(#00c0ff), color-stop(49%, #ffcf00), color-stop(80%, #fc4f4f), to(#00c0ff));
  background-image: -webkit-linear-gradient(left, #00c0ff 0%, #ffcf00 49%, #fc4f4f 80%, #00c0ff 100%);
  background-image: -o-linear-gradient(left, #00c0ff 0%, #ffcf00 49%, #fc4f4f 80%, #00c0ff 100%);
  background-image: linear-gradient(90deg, #00c0ff 0%, #ffcf00 49%, #fc4f4f 80%, #00c0ff 100%);
  -webkit-animation: slide-bg 5s linear infinite;
          animation: slide-bg 5s linear infinite;
}

@-webkit-keyframes slide-bg {
  to {
    background-position: 20vw;
  }
}

@keyframes slide-bg {
  to {
    background-position: 20vw;
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  background-color: #064d8e;
  padding: 16px;
  height: 120px;
  width: 100%;
}

footer h2 {
  color: #fff;
  font-size: 24px;
  font-family: "Sora", sans-serif;
  font-weight: 600;
  margin: 6px;
  padding: 0;
}

footer a {
  color: #fff;
  font-size: 16px;
  font-family: "Sora", sans-serif;
  font-weight: 400;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  background-color: #064d8e;
  font-family: "Sora", sans-serif;
  height: 120px;
  width: 100%;
}

header .header-col-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-family: "Sora", sans-serif;
  height: 100%;
  width: calc(100% - 320px);
}

header .header-col-left img {
  margin-left: 16px;
}

@media (max-width: 767px) {
  header .header-col-left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

header .header-col-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-family: "Sora", sans-serif;
  height: 100%;
  min-width: 320px;
  padding: 8px;
}

header .header-col-right a {
  color: #fff;
  font-size: 48px;
  margin-left: 16px;
}

header .header-col-right a img {
  width: 42px;
  height: 42px;
  vertical-align: -0.125em;
}

#nomad-modal-image-wrapper {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1012;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
}

#nomad-modal-image-wrapper #nomad-modal-image-close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

#nomad-modal-image-wrapper #nomad-modal-image-close:hover, #nomad-modal-image-wrapper #nomad-modal-image-close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

#nomad-modal-image-wrapper #nomad-modal-image {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

#nomad-modal-image-wrapper #nomad-modal-image-caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

#nomad-modal-image-wrapper #nomad-modal-image,
#nomad-modal-image-wrapper #nomad-modal-image-caption {
  -webkit-animation-name: zoom;
          animation-name: zoom;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes zoom {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media only screen and (max-width: 700px) {
  #nomad-modal-image-wrapper #nomad-modal-image {
    width: 100%;
  }
}

login-form-template {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #222;
  background-color: #fff;
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

login-form-template #nomad-login-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: inherit;
  width: 100%;
  height: 100%;
}

login-form-template #nomad-login-wrapper .nomad-login-wrapper-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ddd;
  -webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.3);
  width: 380px;
}

login-form-template #nomad-login-wrapper .nomad-login-wrapper-section .nomad-logo {
  position: relative;
  top: 0;
  left: 0;
  background-color: #222;
  height: 42px;
  width: 100%;
}

login-form-template #nomad-login-wrapper .nomad-login-wrapper-section .nomad-logo img {
  height: 24px;
  margin: 8px;
}

login-form-template #nomad-login-wrapper .nomad-login-wrapper-section .nomad-login-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: inherit;
  padding: 16px;
  height: 100%;
  width: 100%;
}

login-form-template #nomad-login-wrapper .nomad-login-wrapper-section .nomad-login-form .nomad-form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  height: 60px;
  width: 100%;
  margin: 6px;
}

login-form-template #nomad-login-wrapper .nomad-login-wrapper-section .nomad-login-form .nomad-form-row input {
  border: 1px solid #2dabf9;
  font-family: inherit;
  height: 32px;
  line-height: 32px;
}

login-form-template #nomad-login-wrapper .nomad-login-wrapper-section .nomad-login-form .nomad-form-row span {
  display: block;
  font-family: inherit;
  visibility: hidden;
  color: red;
  font-size: 12px;
  margin-top: 4px;
  width: 90%;
  text-align: left;
}

login-form-template #nomad-login-wrapper .nomad-login-wrapper-section .nomad-login-form .nomad-form-row span.visible {
  visibility: visible;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --select-border: #064d8e;
  --select-focus: #064d8e;
  --select-arrow: var(--select-border);
}

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  z-index: 1;
  outline: none;
}

.select {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "select";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  min-width: 15ch;
  max-width: 30ch;
  border: 1px solid var(--select-border);
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  font-size: 16px;
  cursor: pointer;
  line-height: 1.1;
  margin: 4px 0;
  width: 50%;
}

.select select, .select::after {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: select;
}

.select:not(.select--multiple)::after {
  content: "";
  -ms-grid-column-align: end;
      justify-self: end;
  width: 0.8em;
  height: 0.5em;
  background-color: var(--select-arrow);
  -webkit-clip-path: polygon(100% 0%, 0 0%, 50% 100%);
          clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}

select:focus + .focus {
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  border: 2px solid var(--select-focus);
  border-radius: inherit;
}

select[multiple] {
  padding-right: 0;
  height: 6rem;
}

select[multiple] option {
  white-space: normal;
  outline-color: var(--select-focus);
}

.select--disabled {
  cursor: not-allowed;
  background-color: #eee;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ddd), color-stop(33%, #eee));
  background-image: -webkit-linear-gradient(bottom, #ddd, #eee 33%);
  background-image: -o-linear-gradient(bottom, #ddd, #eee 33%);
  background-image: linear-gradient(to top, #ddd, #eee 33%);
}

#nomad-wait-indicator {
  display: none;
  background-color: transparent;
  width: 100%;
  z-index: 1001;
}

#nomad-wait-indicator.visible {
  display: block;
}

#nomad-wait-indicator #nomad-wait-indicator-message {
  display: block;
  position: absolute;
  top: 45%;
  color: white;
  background-color: transparent;
  font-size: 18px;
  font-family: "Sora", sans-serif;
  font-weight: 600;
  text-shadow: 1px 1px 2px #2086f4;
  width: 100%;
  text-align: center;
}

#nomad-wait-indicator .nomad-wait-indicator-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
  z-index: 1003;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#nomad-wait-indicator .nomad-wait-indicator-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #3399ff;
  border-color: #3399ff transparent #3399ff transparent;
  -webkit-animation: nomad-wait-indicator-ring 1.2s linear infinite;
          animation: nomad-wait-indicator-ring 1.2s linear infinite;
}

@-webkit-keyframes nomad-wait-indicator-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes nomad-wait-indicator-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  font-size: 100%;
}

html,
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #222;
  background-color: #fff;
  font-family: "Sora", sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

main {
  height: calc(100% - 240px);
  width: 100%;
  margin: 0;
  padding: 16px;
}

#nomad-search-filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 2px 16px #0000012f;
          box-shadow: 0px 2px 16px #0000012f;
  border-radius: 6px;
  border: 1px solid #dddddd;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 16px;
  height: calc(20% - 8px);
  max-height: calc(20% - 8px);
  overflow-y: scroll;
}

#nomad-search-filters .column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  width: 20%;
  min-width: 220px;
  max-width: 220px;
  margin: 5px 5px;
  padding: 16px;
}

#nomad-search-filters .column input[type="date"] {
  font-family: "Sora", sans-serif;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid var(--select-border);
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  cursor: pointer;
  line-height: 1.1;
  margin: 4px 0;
  height: 27px;
}

#nomad-search-filters .shadow {
  -webkit-box-shadow: 0px 2px 16px #0000012f;
          box-shadow: 0px 2px 16px #0000012f;
  border-radius: 6px;
  border: 1px solid #dddddd;
}

#nomad-search-filters button {
  margin-left: 16px;
}

@media (max-width: 536px) {
  #nomad-search-filters {
    height: calc(40% - 8px);
    max-height: calc(40% - 8px);
  }
}

@media (min-width: 1200px) {
  #nomad-search-filters {
    height: calc(10% - 8px);
    max-height: calc(10% - 8px);
  }
}

#nomad-image-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 2px 16px #0000012f;
          box-shadow: 0px 2px 16px #0000012f;
  border-radius: 6px;
  border: 1px solid #dddddd;
  flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: calc(80% - 8px);
  max-height: calc(80% - 8px);
  width: 100%;
  z-index: 1000;
  overflow-y: scroll;
  margin: 16px 0px;
  padding: 16px;
}

#nomad-image-wrapper #nomad-image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  height: 100%;
  width: 100%;
}

#nomad-image-wrapper #nomad-image-container .nomad-image-card {
  margin: 8px;
  background-color: #fff;
  border: 1px solid #aaa;
  -webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  height: 220px;
  width: 190px;
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  -o-transition: transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
}

#nomad-image-wrapper #nomad-image-container .nomad-image-card:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  background-color: #aaa;
  z-index: 2000;
}

#nomad-image-wrapper #nomad-image-container .nomad-image-card .nomad-image-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#nomad-image-wrapper #nomad-image-container .nomad-image-card .nomad-image-btn:hover {
  background-color: #eee;
}

#nomad-image-wrapper #nomad-image-container .nomad-image-card .nomad-image-btn .nomad-image-img {
  height: 150px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#nomad-image-wrapper #nomad-image-container .nomad-image-card .nomad-image-btn .nomad-image-info {
  height: 70px;
  margin: 8px;
}

#nomad-image-wrapper #nomad-image-container .nomad-image-card .nomad-image-btn .nomad-image-info .nomad-image-name {
  font-size: 14px;
  font-weight: 500;
  font-family: "Sora", sans-serif;
  color: #222;
  width: 100%;
  text-align: center;
  overflow-wrap: break-word;
  margin: 0;
  padding: 0;
}

@media (max-width: 536px) {
  #nomad-image-wrapper {
    height: calc(60% - 8px);
    max-height: calc(60% - 8px);
  }
}

@media (min-width: 1200px) {
  #nomad-image-wrapper {
    height: calc(90% - 8px);
    max-height: calc(90% - 8px);
  }
}

#swal2-title {
  font-size: 16px !important;
}
